@use '../util' as *;

:root {
  // Colors
  --clr-primary-rgb: 99, 95, 199;
  --clr-primary-light-rgb: 168, 164, 255;
  --clr-secondary-rgb: 234, 85, 85;
  --clr-secondary-light-rgb: 255, 152, 152;

  --clr-gray-700-rgb: 0, 1, 18;
  --clr-gray-600-rgb: 32, 33, 44;
  --clr-gray-500-rgb: 45, 44, 55;
  --clr-gray-400-rgb: 62, 63, 78;
  --clr-gray-300-rgb: 130, 143, 163;
  --clr-gray-200-rgb: 228, 235, 250;
  --clr-gray-100-rgb: 244, 247, 253;

  --clr-primary: rgb(var(--clr-primary-rgb));
  --clr-primary-light: rgb(var(--clr-primary-light-rgb));
  --clr-secondary: rgb(var(--clr-secondary-rgb));
  --clr-secondary-light: rgb(var(--clr-secondary-light-rgb));

  --clr-gray-700: rgb(var(--clr-gray-700-rgb));
  --clr-gray-600: rgb(var(--clr-gray-600-rgb));
  --clr-gray-500: rgb(var(--clr-gray-500-rgb));
  --clr-gray-400: rgb(var(--clr-gray-400-rgb));
  --clr-gray-300: rgb(var(--clr-gray-300-rgb));
  --clr-gray-200: rgb(var(--clr-gray-200-rgb));
  --clr-gray-100: rgb(var(--clr-gray-100-rgb));

  --clr-white: #fff;

  // Font-family
  --ff-sans: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;

  // Font-sizes
  --fs-xlarge: #{rem(24)};
  --fs-large: #{rem(18)};
  --fs-medium: #{rem(15)};
  --fs-small: #{rem(13)};
  --fs-xsmall: #{rem(12)};

  // Flexbox gap/columns
  --gap: #{rem(20)};
  --columns: 2;
}
