@use '../util' as *;

.btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-image: none;
  padding: 0 rem(15);
  font-size: var(--fs-medium);
  height: rem(40);
  border: none;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border-radius: 50px;

  &-primary {
    background-color: var(--clr-primary);
    color: var(--clr-white);

    &:hover {
      background-color: var(--clr-primary-light);
    }
  }

  &-secondary {
    background-color: rgba(var(--clr-primary-rgb), 0.1);
    color: var(--clr-primary);

    &:hover {
      background-color: rgba(var(--clr-primary-rgb), 0.25);
    }
  }

  &-destructive {
    background-color: var(--clr-secondary);
    color: var(--clr-white);

    &:hover {
      background-color: var(--clr-secondary-light);
    }
  }

  &-lg {
    height: rem(48);
  }
}
