@use '../util' as *;

.box {
  border-radius: rem(8);
  height: rem(150);
  margin-bottom: rem(30);
}

.gradient-1 {
  background: var(--gradient-1);
}

.gradient-2 {
  background: var(--gradient-2);
}

.gradient-3 {
  background: var(--gradient-3);
}

.gradient-4 {
  background: var(--gradient-4);
}

.gradient-5 {
  background: var(--gradient-5);
}

.gradient-6 {
  background: var(--gradient-6);
}

.gradient-7 {
  background: var(--gradient-7);
}

.gradient-8 {
  background: var(--gradient-8);
}

.gradient-9 {
  background: var(--gradient-9);
}

.gradient-10 {
  background: var(--gradient-10);
}
